.reviews {
  background-color: $white;
}

.reviews__author {
  color: $black;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
